/* Global Variables */
:root {
  --clr-orange: #f09a19;
  --clr-white: #f1f0ee;
  --boxShadow1: 0px 0px 20px 10px rgba(0, 0, 0, 0.7);
  --boxShadow2: 0px 0px 20px 10px rgba(0, 0, 0, 0.9);
  --bg-overlay--light: rgba(0, 0, 0, 0.4);
  --bg-overlay--dark: rgba(0, 0, 0, 0.6);
  --text-clamp-small: clamp(1rem, 3vmin, 2rem);
  --text-clamp-medium: clamp(1rem, 4vmin, 4rem);
  --text-clamp-large: clamp(1rem, 5vmax, 9vmax);
  --corner: 5px;
}

/* fonts */
/* font-family: 'Arizonia', cursive; */

/* basic reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Courgette", sans-serif;
  color: var(--clr-white);
}

.enquire {
  position: fixed;
  transform: translate(calc(99vw - 100%), 80vh);
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(95, 95, 95);
  border-radius: 500px;
  padding: 1em;
}
.enquire i {
  font-size: 2rem;
}

/** ****** */
/** header */
/** ****** */

.hero {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(
      circle at left bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.9) 60%
    ),
    url("BackgroundImages/jaguarlefthead2.jpg");
  background-position: bottom left;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 2400px) {
  .hero {
    background-image: radial-gradient(
        circle at 500px 90vh,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.95) 60%
      ),
      url("BackgroundImages/jaguarleftBig.jpg");
  }
}

.hero__title {
  font-size: 15vmax;
  padding-right: 3vw;
  margin-top: 5vh;
  font-family: "Arizonia", cursive;
}

#david {
  color: var(--clr-white);
}

#catlow {
  color: var(--clr-orange);
}

/*? *********** */
/*? bio section */
/*? *********** */

.intro {
  margin-top: 2vw;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("backgroundimages/studio_small.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}

#intro__picture {
  height: auto;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em auto;
  clip-path: circle(at 50% 42%);
}

.intro__text {
  font-size: clamp(1.1rem, 4vmin, 1.3rem);
  max-width: 60ch;
  height: fit-content;
  color: var(--clr-white);
  margin: 2em;
  line-height: 1.5;
  padding: 1em;
  background-color: var(--bg-overlay--light);
  border-radius: var(--corner);
  box-shadow: var(--boxShadow1);
}

@media screen and (min-width: 650px) {
  .intro {
    background-attachment: fixed;
  }

  /* #intro__picture {
    margin: 1em;
    float: right;
    shape-outside: circle();
  } */
}

/** ************  */
/** gallery items */
/** ************* */

.gallery {
  justify-content: center;
  /* gap: 1em; */
  margin-top: 1vw;
  margin-bottom: 1vw;
  min-width: 222px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
}
.gallery__item__container {
  background-color: rgb(58, 58, 58);
  max-height: 100vh;
  margin: 0 auto;
  border-radius: var(--corner);
  overflow: hidden;
  margin: 1vw;
  border: solid 2px rgba(209, 208, 207, 0.3);
}

.gallery__item {
  margin: 1em;
}

.gallery__item__image {
  width: 100%;
  object-fit: contain;
}

.gallery__item__image img {
  max-width: 100%;
  max-height: 70vh;
  display: block;
  margin: 0 auto;
  border: solid 2px black;
  border-radius: var(--corner);
  box-shadow: var(--boxShadow1);
}

.gallery__item__text {
  background-color: var(--bg-overlay--light);
  box-shadow: var(--boxShadow1);
  border-radius: var(--corner);
  margin: 1em;
  padding: 0.5em 1em;
  text-align: center;
}

.gallery__item__title {
  font-size: var(--text-clamp-medium);
}
.gallery__item__description {
  font-size: var(--text-clamp-small);
}

.filler {
  display: none;
}

/* ************ */
/* form styling */
/* ************ */

footer {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./BackgroundImages/bridge.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#enquiry {
  max-width: 90vw;
  margin: 5vw auto;
  background-color: var(--bg-overlay--light);
  box-shadow: var(--boxShadow1);
  border-radius: var(--corner);
  padding: 1rem 2rem;
  text-align: center;
  color: var(--clr-white);
}

.enquiry__text {
  max-width: 75vw;
  font-size: clamp(1rem, 8vw, 4rem);
  color: var(--clr-orange);
}

form {
  height: fit-content;
  width: 90vw;
  max-width: 1000px;
  color: var(--clr-white);
  font-size: 1rem;
  background: var(--bg-overlay--dark);
  box-shadow: var(--boxShadow2);
  border-radius: var(--corner);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2vw;
  margin: 2vw;
  padding: 0 2rem;
}
.field {
  width: 100%;
}

.form--left,
.form--right {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 0;
}

.form--left {
  align-items: flex-start;
}

input,
textarea,
label {
  background: none;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  border: none;
}

label {
  padding-top: 0.7em;
}

input,
textarea {
  border-bottom: solid 2px;
  color: var(--clr-orange);
  padding: 0.5em 0;
}

input:focus,
textarea:focus {
  border: solid 2px;
  padding-left: 1em;
  font-size: 1.1rem;
}

textarea {
  resize: vertical;
}

button {
  padding: 0.25em 1em;
  font-size: clamp(1rem, 3vw, 2rem);
  background-color: rgb(204, 199, 199);
  margin: 2vw auto;
  border-radius: var(--corner);
  border: none;
  font-family: inherit;
}

button:hover,
button:focus {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  transition: all 500ms ease-in-out;
}
