.title {
  margin: 1em auto;
  padding: 2em;
  text-align: center;
  background: var(--bg-overlay--light);
  box-shadow: var(--boxShadow1);
  width: max-content;
}

.sketch__container {
  margin: 2vw;
}

.sketch {
  object-fit: contain;
  height: min-content;
  margin-bottom: 2vw;
}

.sketch img {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.modal__image {
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__image.open {
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 450px) {
  .sketch__container {
    column-count: 2;
  }
}

@media screen and (min-width: 690px) {
  .sketch__container {
    column-count: 3;
  }
}

@media screen and (min-width: 1350px) {
  .sketch__container {
    column-count: 4;
  }
}
